*{
	margin :0;
	padding:0;
	font-family : "Bad Script";
}

html { 
	background: url(../img/jungle_bg.jpg) no-repeat
		  center center fixed; 
	background-size: cover;
}

#centered {
	top : 50%;
	right : 50%;
	transform : translate (-50%, 50%);
	text-align : center;
	width : 100%;
	background: clear;
	z-index:-1;
}

.spacer {
    width: 260px;
    height: 300px;
    display: inline-block;
}

#blueSide{
	background-color:blue;
	background-size : 65%;
	border-radius: 50px;
	background-repeat : no-repeat;	
	background-position: top;
	width : 40%;
	height : 48%;
	font-size : 150%;
	color : black;
	position : absolute;
	padding-bottom : 5%;
	right: 55%;
	bottom: 5%;
}

#redSide{
	background-color: red;
	background-size : 65%;
	border-radius: 50px;
	background-repeat : no-repeat;
	background-position: top;
	width : 40%;
	height: 48%;
	font-size : 150%;
	color : black;
	padding-bottom:5%;
	position :absolute;
	left : 55%;
	bottom : 5%;
	
}
.score {
    display: inline-block;
    color: white;
    font-size: 2500%;
    margin: auto;
    text-shadow: 5px 5px black;
    width: 30%;
    margin: 20px;
	margin-top: 350px
}

}
.element {
	color : white;
	font-size : 100%;
	margin : auto;
	text-shadow: 5px 5px black;
}

.team {
	margin : 0px;
	padding-top : 0px;
	font-size : 150%; 
}

#matchNum {
	font-size : 400%;
	color : white;
	text-align : top;
	text-align : center;
	width : 100%;
	background: clear;
	
	text-shadow: 5px 5px black;
}

#time {
	vertical-align: top;
    font-size: 600%;
    display: block;
    color: white;
    margin: auto;
    padding: 0px 0px;
	width : 50%;
	position: absolute;
	right: 25%;
	
	text-shadow: 5px 5px black;
}

#logo {
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	height:400px;
	width:80%;
	z-index: 2;
    left : 10%;
}