*{
	margin :0;
	padding:0;
	font-family : "Comic Sans MS";
}
html {
	-webkit-background-size : cover;
	-moz-background-size : cover;
	background-size : cover ;
	background: magenta;
	
}

#background {
    background-size : cover ;
    background: url(../img/cave.jpg);
    position: absolute;
    height: 20%;
    width: 100%;
    left: 0%;
    bottom: 80%;
    z-index: -1;
}

#centered {
	top : 50%;
	right : 50%;
	transform : translate (-50%, 50%);
	text-align : center;
	width : 100%;
	background: clear;
	z-index:1;
}
.spacer {
	width : 100%;
	height : 10px;
}

#blueSide{
	background-color:blue;
	background-size : 65%;
	border-radius: 50px;
	background-repeat : no-repeat;	
	background-position: top;
	width : 25%;
	height : 9%;
	font-size : 150%;
	color : black;
	position : absolute;
	padding-bottom : 5%;
	right: 75%;
	bottom: 81%;
}

#redSide{
	background-color: red;
	background-size : 65%;
	border-radius: 50px;
	background-repeat : no-repeat;
	background-position: top;
	width : 25%;
	height: 9%;
	font-size : 150%;
	color : black;
	padding-bottom:5%;
	position :absolute;
	left : 75%;
	bottom : 81%;
	
}
.score {
	color : white;
	font-size : 300%;
	margin : auto;
	text-shadow: 5px 5px black;
}

.team {
	margin : 0px;
	padding-top : 0px;
	font-size : 150%; 
}

#matchNum {
	font-size : 400%;
	color : white;
	text-align : top;
	text-align : center;
	width : 100%;
	background: clear;
	
	text-shadow: 5px 5px black;
}

#time {
	vertical-align: top;
    font-size: 500%;
    display: block;
    color: white;
    margin: auto;
    padding: 0px 0px;
	width : 50%;
	position: absolute;
	right: 25%;
	
	text-shadow: 5px 5px black;
}

#logo {
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	height:400px;
	width:80%;
	z-index: 2;
    left : 10%;
}