	
	body {
		font-family: Helvetica;
		background: #ffffff;
		margin: 0px;
	}
	
	th {
		color: #ffffff;
		font-style: italic;
		background: #3f51b5;
		border-style: solid solid none solid;
		border-width: 2px;
		border-color: #e0e0f7;
		padding: 10px;
	}
	
	td {
		border-style: solid;
		border-width: 2px;
		border-color: #3f51b5;
		padding: 5px;
	}

	.row:nth-child(even) {background: #ffffff}
    .row:nth-child(odd) {background: #e0e0f7}

	.dark {
		color: #142271;
		font-weight: bold;
	}
	
	.light {
		color: #3f51b5;
	}
	
	#rankTable {
		text-align: center;
		border-width: 4px;
		border-style: solid;
		border-color: #142271;
		border-collapse: collapse;
		width: 95%;
		margin: auto;
		/* box-shadow: 10px -10px #A8CABA; */
	}
	
	#header {
		color: #ffffff;
		font-style: italic;
		font-size: 30px;
		background: #3f51b5;
		padding: 20px 250px 20px;
		margin-bottom: 30px;
		margin-top: 30px;
		/* box-shadow: 10px -10px #A8CABA; */
	}
	
	#pagenumber {
		color: #142271;
		font-style: italic;
		margin: 25px;
		text-align:right;
		/* position:fixed;
		bottom:5px;
		right:5px;
		*/
	}