body {
	font-family: "Arial", serif;
}

input {
	font-family: "Arial", serif;
}

h5{
	margin: 0;
}

.wrapper{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap-5px;
	grid-auto-rows: minmax(10px, auto);
}

.coop_btn{
	grid-column:1/4;
	grid-row:1;
}

.btns1{
	/* grid-column:2/4; */
	grid-row:1;
	/*text-align:right;*/
}

.btns2{
	grid-column:3/4;
	grid-row:1;
	text-align:right;
}

.red1{
	grid-column:3/4;
	grid-row:2;
	background-color: #fdd;
}

.red2{
	grid-column:4/4;
	grid-row:2;
	background-color: #fdd;
}

.blue1{
	grid-column:1/4;
	grid-row:2;
	width: 33.4%;
	background-color: #ddf;
}

.blue2{
	grid-column:2/4;
	grid-row:2;
	width: 50%;
	background-color: #ddf;
}
/*
.r1head{color:red;}
.r2head{color:red;}
.b1head{color:blue;}
.b2head{color:blue;}
*/


